@font-face {
    font-family: 'kenyan_bold';
    src: url(../fonts/kenyan_coffee_bd.ttf);
}

@font-face {
    font-family: 'kenyan_rg';
    src: url(../fonts/kenyan_coffee_rg.ttf);
}

@font-face {
    font-family: 'kenyan_it';
    src: url(../fonts/kenyan_coffee_it.ttf);
}


body{
  background: url(../img/fond-depart.jpg) no-repeat fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
}

h1{
  font-family: 'kenyan_rg';git ad
  text-align: center;
  color : white;
  font-size: 70px;
  margin-top: 7%;
}
